.chat-side
  .side-header
    .side-header__box
      .side-header__box__user-name
        = current_user.name
      %ul.side-header__box__menu
        %li
          = link_to new_group_path , class: "side-header__box__menu__new-group" do
            %i.fa.fa-edit
        %li
          = link_to edit_user_path(current_user), class: "side-header__box__menu__edit-user" do
            %i.fa.fa-cog

  .groups
    - current_user.groups.each do |group|
      = link_to "#" do
        %p.group__group-name
          = group.name
        %p.group__latest-message
          メッセージはまだありません。


    